<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KBTU Open Spring 2025</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
<body>
  {% block body %}
  {% endblock %}


  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ba7070bbe02048a28ce15028edf8a38a"}'></script>
  <!-- End Cloudflare Web Analytics -->


  <footer>
    <a href="https://github.com/ZharaskhanAman/kbtuopen">We ❤️ open source</a></p>
  </footer>

</body>


</html>

